* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(153, 102, 187);
  background: linear-gradient(
    90deg,
    rgba(153, 102, 187, 1) 0%,
    rgba(203, 97, 97, 1) 50%,
    rgba(218, 169, 100, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#navmobile {
  display: none;
}

#navdesktop {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  padding: 8px;
  -webkit-box-shadow: 11px 12px 10px 8px rgba(0, 0, 0, 0.43);
  box-shadow: 11px 12px 10px 8px rgba(0, 0, 0, 0.43);
}

#navdesktop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#navdesktop ul li {
  transition: 0.7s all;
  border-radius: 15px;
  border: 2px solid;
  border-bottom-color: black;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  list-style: none;
  display: inline-block;
  padding: 8px;
  margin-right: 20px;
}
#navdesktop ul li:last-of-type {
  margin-right: 0;
}

#navdesktop ul li:hover {
  background-color: #e1e1e1;
}

#navdesktop ul li a {
  text-decoration: none;
  font-size: 25px;
  font-family: "roboto";
  color: #1e1e1e;
  transition: 0.5s all;
  font-weight: 1000 ;
}

#navdesktop ul li a:hover {
  color: tomato;
}

h1 {
  color: black;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
}

.message {
  text-shadow: 2px 2px 5px white;
  font-size: 50px;
}

.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-grow: 1;
}

.music {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7 rem;
  padding: 10rem;
}

.vid {
  margin-bottom: 1rem;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  top: 100px;
  font-family: "Mohave", sans-serif;
  font-size: 25px;
  text-shadow: 2px 2px 5px white;
}

.containera {
  height: relative;
  width: 100%;
  background-image: url("images/back.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#logo {
  font-size: 44px;
  font-family: "roboto";
  font-weight: bold;
  border: 2px solid;
  padding: 5px;
  -webkit-box-shadow: 5px 5px 30px 3px #000000; 
  box-shadow: 5px 5px 30px 3px #000000;
}

#logo a {
  text-decoration: none;
  color: black;
}

#logo span {
  color: red;
}

.form-control {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 400px;
  padding: 15px;
  margin: 7px 0;
  border-radius: 5px;
}

.btnenvoyer {
  background: black;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  -webkit-box-shadow: 11px 12px 10px 8px rgba(0, 0, 0, 0.43);
  box-shadow: 11px 12px 10px 8px rgba(0, 0, 0, 0.43);
}
.btnenvoyer:hover {
  background-color: #2b2b2b;
}

.form-control::placeholder {
  color: black;
  opacity: 1;
}

#formcool {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.millieux {
  text-align: center;
  background-size: cover;
  min-height: 440px;
}

#input-message {
  padding: 50px 15px;
  max-width: 400px;
}

.ytvideo {
  border-radius: 30px;
  padding: 1rem;
  width: 500;
  height: 250;
}

.containers {
  padding: 30px;
  flex-grow: 1;
}

.photosimon {
  width: 250px;
  height: 300px;
  border-radius: 50px;
}

.textinfo {
  font-family: "roboto";
  font-weight: bold;
  margin-top: 15px;
}

.textinfo2 {
  font-family: "roboto";
  margin-left: -4px;
}

.textinfo3 {
  margin-top: 15px;
  font-family: "Mohave", sans-serif;
  font-size: 30px;
}

.textinfo4 {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 100px;
}

.ytnews {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 15px;
  width: 500px;
  height: 250px;
}

.buttonpaypal {
  max-width: 10px;
  margin-left: 5px;
}

input[type=image] {
  width: 150px;
  height: 42px;
  border-radius: 10px;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.video {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
}

.footermusic {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
}

.footermusic a {
  margin: 10px;
  text-decoration: none;
  font-family: "roboto";
  color: #88ff80;
  border: 1.5px solid;
  border-color: white;
  padding: 5px;
  border-radius: 8px;
}

.footer a {
  margin: 10px;
  text-decoration: none;
  font-family: "roboto";
  color: #88ff80;
  border: 1.5px solid;
  border-color: white;
  padding: 5px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  #navmobile {
    display: flex;
    padding: 20px;
    background: black;
    align-items: center;
  }

  #navdesktop {
    display: none;
  }

  .ytvideo {
    height: 175px;
    width: 300px;
  }

  .text h2 {
    font-size: 30px;
  }

  #logo2 {
    font-size: 35px;
    color: white;
    font-family: "roboto";
    margin-left: 40px;
  }

  #logo2 a {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }

   #logo2 span {
     color: red;
   }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ytnews {
    width: 100%;
    height: 175px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
  }
  .buttonpaypal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #formcool input {
    padding: 15px;
    max-width: 250px;
  }
  #logo {
    font-size: 40px;
  }
}

#menuToggle {
  display: block;

  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.5s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 59px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 7px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: all 1s;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100%;
  padding: 40px;
  padding-top: 100px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: #e0e0e0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
